
.form-styled input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #e1dece;
    outline: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #e1dece;
    width: 350px;
    padding-left: 10px;
    margin: 0px 5px 5px 10px;
    display: inline-block;
}

.form-styled input[type=text]:focus
{
    border-bottom: 1px dashed #000000;
    color: #000000;
}

.form-styled select,
.form-styled div[id=deleteItem]
{
    display: inline-block;
    margin: 0px 0px 5px 10px;
    font-style: italic;
}

.form-styled select
{
    border: none;
    border-bottom: 1px dashed #e1dece;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
}

p[id=add]
{
    width: 50px;
    margin: 0px 5px 5px 10px;
    border: none;
    border-bottom: 1px dashed #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

div[id=line]
{
    margin: 0px 0px 0px 0px;
}

input[type="submit"]
{
    outline: none;
    background: transparent;
    margin-left: 400px;
    border: none;
    border-bottom: 1px dashed #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 100%;
}

input[class="link"]
{
    width: 300px;
    outline: none;
    background: transparent;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    border: none;
    border-bottom: 1px dashed #000000;
    text-align: center;
    display: inline-block;
}

p[id=copyLink]
{
    background: transparent;
    display: inline-block;
    margin: 0px 0px 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    border: none;
    border-bottom: 1px dashed #000000;
    display: inline-block;
}

div[class="item"],
div[class="count"],
div[class="head_item"],
div[class="head_count"]
{
    background: transparent;
    display: inline-block;
    border: none;
    border-bottom: 1px dashed #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    margin: 0px 0px 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

div[class="item"],
div[class="head_item"]
{
    width: 350px;

}

div[class="head_item"],
div[class="head_count"]
{
    text-align: center;
    color:#e1dece;
    border-bottom: 1px dashed #e1dece;
}

li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    }

/*top right bottom left*/

/*
.body{
    background: #495C70;
}

.form-styled{
    width: 400px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}

.form-styled input[type=submit],
.form-styled input[type=button],
.form-styled input[type=text],
.form-styled label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
}

.form-styled input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 350px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

.form-styled input[type=text]:focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-styled input[type=submit],
.form-styled input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
	display: block;
	margin-top: 10px;
}
.form-styled input[type=submit]:hover,
.form-styled input[type=button]:hover{
    background: #394D61;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

li::before {
    content: '-';
    color: #83A4C5;
  }

li {
    padding-left: 1em;
    text-indent: -.7em;
    display: block;
    }

*/